.form-table {
  .form {
    display: flex;
    justify-content: space-between;
    .left,
    .right {
      width: 40%;
    }
    input {
      width: 100%;
    }
  }
  .footer {
    display: flex;
    justify-content: space-around;
    .results {
      display: flex;
      flex-direction: column;
    }
    .btns {
      display: flex;
      .accepted {
        margin-left: 20px;
        button {
          background-color: #00b96b;
          &:hover {
            border-color: #00b96b;
          }
        }
      }
      .return {
        button {
          &:hover {
            border-color: #00b96b;
          }
        }
      }
    }
  }
}
