.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000a1;
    z-index: 30;
    .modal {
      background-color: white;
      width: 36vw;
      border-radius: 4px;
      margin: 20vh auto;
      .header {
        z-index: 22;
        width: 100%;
        height: 40px;
        border-bottom: 1px solid black;
        .close-btn {
          height: 100%;
          margin: 0 5px;
        }
        svg {
          width: 25px;
          display: flex;
          margin-left: auto;
          color: #5f6368;
          height: 100%;
          cursor: pointer;
        }
      }
      .main-body {
        margin: 20px;
        .row {
          margin: 10px 0;
          display: flex;
          flex-direction: column;
          .title {
            margin: 5px;
          }
        }
      }
      .action {
        display: flex;
        padding: 20px;
        justify-content: flex-end;
        .create {
          margin-left: 30px;
          button {
            background-color: #00b96b;
            &:hover {
              outline: none;
            }
          }
        }
      }
    }
  }
  