.filter-bar {
  // background-color: aquamarine;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-bottom: 10px;
  // justify-content: space-around;
  button.button-bar {
    background-color: #00695c;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #fff !important;
      border: 1px solid #00695c;
      color: #00695c !important;
    }
  }

    button.default{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    button.active-search{
        background-color: #00695c;
        color: #fff;
        &:hover{
            background-color: #00695c;
            color: #fff;
        }
    }

    button.active-border{
        border-color: #00695c;
        color: #00695c;
        &:hover{
            border-color: #00695c;
            color: #00695c;
        }
    }
    
}

.form-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

.form-item {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: flex-start;
  width: 100%;
  label {
    font-weight: bold;
    padding: 10px 0 5px 0;
    text-transform: uppercase;
  }
}

.modal-item {
  button {
    background-color: #00695c;
    &:hover {
      background-color: #fff;
      border: 1px solid #00695c;
      color: #00695c;
    }
  }
}

.w-100 {
  width: 100%;
}

.col-item-filter {
  display: flex;
  align-items: end;
  width: 100%;
}

.label-custom-input-filter {
  margin-bottom: 0px!important;
}

.label-custom-input-filter label {
  font-weight: bold;
  padding: 10px 0 5px 0;
  text-transform: uppercase;
  margin-bottom: 0px!important;
}

.btn-upload{
  background-color: #00695c !important;
      border: 1px solid #00695c;
      color: #fff !important;
      padding: 7px 10px;
      border-radius: 5px;
}